/* ALLGEMEINE STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

body > header,
body > footer {
  flex: 0;
}

body > section {
  flex: 1;  
}

/* HEADER NAVIGATION STYLES */

header {
    background-color: rgba(214, 214, 214, 0.918);
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

.menu_complete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.logo_nav img {
    height: 40px;
    width: auto;
}

.menu_nav {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu_nav_item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu_nav_item:hover {
    color: rgb(20, 15, 15);
    text-decoration: underline;
    font-weight: bolder;
}

/* FOOTER STYLES */

footer {
  position: fixed;
  bottom: 10px;  
  left: 10px;   
  z-index: 3;
  background-color: rgba(125, 26, 26, 0.925);
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.842);
}

/* MAP STYLES */

#map  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
}

.titleBox {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(125, 26, 26, 0.925);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 0.842);
}

.titleBox h1 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.titleBox h2 {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

/* SPOTS STYLES */

.kiteGuideBox {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(125, 26, 26, 0.925);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.089);
  font-size: 0.8rem;
  text-align: center;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.kiteGuideBox:hover {
  background-color: rgb(68, 16, 16);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.spotGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 60px;
  padding-top: 160px;
}

.spotCard {
  background: linear-gradient(#031e4759, #1e559462, #5fbae457);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 350px;
  padding: 30px;
  display: flex;
  flex-direction: left; 
  align-items: center;
} 

.spotCard img {
  width: 50%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.spotCard:hover {
  transform: scale(1.02);
  background-color: rgb(200, 201, 202);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
}

.spotCard.night {
  background: linear-gradient(#f7c93379, #ff951c8e, #a712128f);
  filter: grayscale(0.2);
  color: #000000;
}

.spotInfo h1 {
  font-size: 1.5rem;
  color: rgb(70, 17, 17);
  margin-bottom: 10px;
}

.spotCard.night h3 {
  font-size: 1.2rem;
  color: rgb(70, 17, 17);
  margin-bottom: 10px;
}

.spotInfo p {
  margin-top:5px;
}

/* KTIEGUIDE STYLES */

.kiteGuideSection {
  min-height: calc(100vh - 80px);
  padding-top: 0px;
  background-image: url(../assets/img/kiteguide.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kiteGuide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#kiteOptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.kite {
  background-color: #2c2c2c;
  color: white;
  border-radius: 12px;
  padding: 10px 16px;
  margin: 5px;
}

.kite-size {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.kite .wind-speed {
  display: none;
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 8px;
  font-weight: 800;
}

.kite img {
  width: 130px;
  height: auto;
}

.kite.selected {
  border: 3px solid #ffffff;
  box-shadow: 0 0 15px 3px rgba(255, 165, 0, 0.6);
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.kite:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);
}

.kite:hover .wind-speed {
  display: inline-block;
}

#kiteLocationSelect {
  width: 100%;
  max-width: 400px;
  padding: 30px 20px;
  background-color: rgba(125, 26, 26, 0.925);
  color: white;
  border-radius: 12px;
  font-size: 1.2rem;
  margin: 20px auto;
  display: block;
}

#kiteInfoBox {
  background-color: rgba(255, 255, 255, 0.863);
  color: #000000;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
}

/* @ MEDIA QUERIES */

/* HEADER */

@media (max-width: 768px) {
  header {
    height: 60px;
  }

  header h1 {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .menu_nav {
    gap: 8px;
}

  .menu_nav_item {
    font-size: 1rem;
  }

  .logo_nav img {
    height: 30px;
  }
}

/* MAP */

@media (max-width: 768px) {
  .titleBox {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    width: 90%;
    max-width: 300px;
  }

  .titleBox h1 {
    font-size: 1.2rem;
  }

  .titleBox h2 {
    font-size: 0.8rem;
  }
}

/* SPOTS */

@media (max-width: 768px) {
  .spotGrid {
    grid-template-columns: 1fr;
    padding: 130px 30px 30px 30px;
    gap: 30px;
  }

  .kiteGuideBox {
    top: 95px;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    width: 90%;
    max-width: 300px;
  }

  .kiteGuideBox h1 {
    font-size: 1.2rem;
  }

  .spotCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .spotCard img {
    width: 100%;
    height: auto;
    max-height: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .spotInfo {
    width: 100%;
  }

  .spotInfo h1 {
    font-size: 1.5rem;
  }

  .spotInfo p {
    font-size: 1.1rem;
  }
}

/* KITEGUIDE */

@media (max-width: 1200px) {
  #kiteOptions {
    gap: 5px;
  }
  
  .kite img {
    height: 100px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .kiteOptions {
    max-width: 70%;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
  }
  
  .kite img {
    height: 60px;
    width: auto;
  }

  .kite-size {
    font-size: 1.2rem;
  }

  #kiteLocationSelect {
    width: 70%;
    max-width: none;
    padding: 20px;
    font-size: 1rem;
  }

  #kiteInfoBox {
    padding: 15px;
    font-size: 0.9rem;
    max-width: none;
    width: 70%;
  }

  .kiteGuideSection {
    min-height: calc(100vh - 60px);
  }
}