*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgba(214, 214, 214, 0.918);
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 2; 
}


.menu_complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
    flex-wrap: wrap;
}

.menu_nav {
    display: flex;
    gap: 20px;
}

body > header,
body > footer {
  flex: 0;
}

body > section {
  flex: 1;  
}

footer {
  position: fixed;
  bottom: 10px;  
  left: 10px;   
  z-index: 3;
  background-color: rgba(125, 18, 18, 0.8);
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.842);
}

#map  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
}

.titleBox {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(125, 26, 26, 0.925);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 0.842);
}